{% extends 'base.html' %}
{% block content %}


<section id="calama">
    <header>
        {{ calama }}
    </header>
    {{ who_we_are }}
</section>

<section id="products">
    <div class="meta">
        {{ products }}
    </div>
    <div class="substance">
        <ul>
            {% for box in boxes %}
                <li id="{{ box.id }}" data-bg="{{ box.background() }}">
                    <h3>{{ box.name }}</h3>
                    <p>{{ box.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>
</section>

<section id="research">
    {{ research }}
    <ul id="researches">
        {% for res in researches %}
            <li class="research" id="{{ res.id }}" data-bg="{{ res.background() }}">
                <h3>{{ res.title }}</h3>
                <p class="research-description">{{ res.description }}</p>
                <p class="research-meta">
                    <time datetime="{{ res.date.isoformat() }}" title="{{ res.date.isoformat() }}">{{ res.date }}</time>
                    <a href="{{ res.download() }}">Download PDF <span class="icon-cloud-download"></span></a>
                </p>
            </li>
        {% endfor %}
    </ul>
    <div class="clearfix"></div>
    <div id="more-research">
        <a href="#research">research</a>
    </div>
    <div class="clearfix"></div>
</section>

<section id="people">
    {{ people }}
    <div class="clearfix"></div>
</section>

<section id="footer">
    <footer>
        {{ footer }}
    </footer>
</section>


{% endblock %}
