{% extends 'base.html' %}
{% block content %}


<section id="calama">
    <header>
        {{ calama }}
    </header>
    {{ who_we_are }}
</section>

<!-- <nav id="nav">
    {{ nav }}
</nav> -->
<!-- 
<section id="who-we-are">
</section> -->

<section id="products">
    <div class="meta">
        {{ products }}
    </div>
    <div class="substance">
        <ul>
            {% for box in boxes %}
                <li id="{{ box.id }}" data-bg="{{ box.background }}">
                    <h3>{{ box.name }}</h3>
                    <p>{{ box.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="clearfix"></div>
</section>

<section id="research">
    {{ research }}
</section>

<section id="people">
    {{ people }}
    <div class="clearfix"></div>
</section>

<section id="footer">
    <footer>
        {{ footer }}
    </footer>
</section>


{% endblock %}
