{% extends 'base.html' %}
{% block content %}


<section id="calama">
    <header>
        {{ calama }}
    </header>
</section>

<!-- <nav id="nav">
    {{ nav }}
</nav> -->

<section id="who-we-are">
    {{ who_we_are }}
</section>

<section id="products">
    {{ products }}
</section>

<section id="research">
    {{ research }}
</section>

<section id="people">
    {{ people }}
    <div class="clearfix"></div>
</section>

<section id="footer">
    <footer>
        {{ footer }}
    </footer>
</section>


{% endblock %}
