<!DOCTYPE html>
<!-- Icons subject to Creative Commons licenses are used on this site. See /humans.txt -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{{ title }}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='public/favicon.png') }}" />
        <link rel="apple-touch-icon" href="{{ url_for('static', filename='public/apple-touch-icon.png') }}" />
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='public/apple-touch-icon-precomposed.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ url_for('static', filename='public/apple-touch-icon-57x57-precomposed.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ url_for('static', filename='public/apple-touch-icon-72x72-precomposed.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ url_for('static', filename='public/apple-touch-icon-114x114-precomposed.png') }}" />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ url_for('static', filename='public/apple-touch-icon-144x144-precomposed.png') }}" />

        <link rel="author" type="text/plain" href="{{ url_for('static', filename='public/humans.txt') }}" />
        <link rel="robots" type="text/plain" href="{{ url_for('static', filename='public/robots.txt') }}" />
        <link rel="humans" type="text/plain" href="{{ url_for('static', filename='public/humans.txt') }}" />

        <link href='http://fonts.googleapis.com/css?family=Strait|Noto+Sans' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2.min.js') }}"></script>
        <!--[if lte IE 7]><script src="{{ url_for('static', filename='js/lte-ie7.js') }}"></script><![endif]-->
    </head>
    <body>

        {% block content %}
            <p>oops... you probably got here by mistake. <a href="/">back to calama</a></p>
        {% endblock %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.9.0.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
