@import "normalize";
@import "opinionated";

// DIMENSIONS
@page_width: 960px;


// TYPO
@heading_font: 'Strait', sans-serif;
@para_font: 'Enriqueta', georgia, serif;


body {
    font-family: @para_font;
}

#container {
    width: @page_width;
    margin: 0 auto;
}

h1,
h2,
h3 {
    font-family: @heading_font;
}
